@if (Session["PublicKey"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sair ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>

}
